@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian text-white font-sans antialiased overflow-x-hidden;
  }
}

@layer components {
  .glass-card {
    @apply backdrop-blur-xl bg-white/5 border border-white/10 rounded-2xl;
  }
}